<app-text-content-placeholder style="font-size: 1.5em" class="card-title mb-3">Order Summary</app-text-content-placeholder>
<div class="mb-3">
  <app-text-content-placeholder class="me-2">aaaaaaaaaaaaaaaaaaaaaaaaa</app-text-content-placeholder>
  <app-text-content-placeholder class="me-2">aaaaaaa</app-text-content-placeholder>
  <app-text-content-placeholder class="me-2">aaaaaaaaaaaaaaaaaaaaa</app-text-content-placeholder>
  <app-text-content-placeholder>aaaaaaaaaaaaaaa</app-text-content-placeholder>
</div>
<div class="d-flex mb-3 justify-content-between ">
  <app-text-content-placeholder>aaaaaaaaaaaaaaaaaaaa</app-text-content-placeholder>
  <app-text-content-placeholder>5000.00</app-text-content-placeholder>
</div>
<div class="d-flex mb-3 justify-content-between ">
  <app-text-content-placeholder>aaaaaaaa</app-text-content-placeholder>
  <app-text-content-placeholder>500.00</app-text-content-placeholder>
</div>
<div class="d-flex mb-3 justify-content-between ">
  <app-text-content-placeholder>aaaaaaaaaaaaaaaa</app-text-content-placeholder>
  <app-text-content-placeholder>5000.00</app-text-content-placeholder>
</div>
