<div class="d-flex gap-3">
  <div class="w-25">
    <div class="mb-3">
      <h5 class="mb-2">Sort</h5>
      <app-select [disabled]="isLoading" [options]="sortingDisplayNames" (optionChanged)="onSortingChange($event)"/>
    </div>

    <div class="mb-3">
      <h5 class="mb-2">Brands</h5>
      <app-tab-skeleton *ngIf="brandFilters === null"></app-tab-skeleton>
      <app-tab
        *ngIf="brandFilters !== null"
        [tabs]="brandFilters"
        [disabled]="isLoading"
        (tabChange)="onBrandChange($event)"/>
    </div>

    <div>
      <h5 class="mb-2">Product Types</h5>
      <app-tab-skeleton *ngIf="productTypeFilters === null"></app-tab-skeleton>
      <app-tab
        *ngIf="productTypeFilters !== null"
        [tabs]="productTypeFilters"
        [disabled]="isLoading"
        (tabChange)="onProductTypeChange($event)"/>
    </div>
  </div>

  <div class="w-75">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <app-pager-header *ngIf="productsTotalCount !== null" [currentPage]="currentPage" [pageSize]="pageSize" [objectsCount]="productsTotalCount"/>
      <app-pager-header-skeleton *ngIf="productsTotalCount === null"/>

      <app-search (searchClicked)="onSearchChange($event)"/>
    </div>

    <div class="mb-3">
      <ng-template #skeletonCard>
        <app-card-skeleton/>
      </ng-template>

      <ng-template #productCard let-product>
        <app-product-card [product]="product" [disabled]="isLoading"/>
      </ng-template>

      <app-collection-container *ngIf="products === null" [elementRef]="skeletonCard" [elementContexts]="Array(6)"/>
      <app-collection-container *ngIf="products !== null" [elementRef]="productCard" [elementContexts]="products"/>
    </div>

    <app-pager class="d-flex justify-content-center" *ngIf="productsTotalCount !== null && productsTotalCount > 0" [totalObjects]="productsTotalCount" [pageSize]="pageSize" (pageChanged)="onPageChange($event)"/>
  </div>
</div>
