<div [formGroup]="form" (ngSubmit)="onSignInPressed()">
  <h2 class="mb-4 text-center">Please Sign In</h2>

  <div class="mb-4">
    <app-login-form-email-input
      ngDefaultControl
      [formControl]="email"
      class="mb-3 d-block"/>

    <app-password-input
      ngDefaultControl
      [formControl]="password"/>
  </div>

  <div *ngIf="error" class="text-danger mb-4">{{error}}</div>

  <app-submit-form-button [status]="form.status" class="w-100" (click)="onSignInPressed()">Sign In</app-submit-form-button>
</div>
