<app-nav-bar class="fixed-top"></app-nav-bar>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div style="width: 300px">
    <form class="form-signin text-center">
      <div class="mb-4">
        <h2 class="h3 mb-3 font-weight-normal">Please sign in
        </h2>
      </div>

      <div class="mb-3">
        <app-form-input
          inputType="email"
          inputPlaceholder="example@sample.com"
          inputClass="bottom-group"
          inputStyle="margin-bottom: -1px"
          label="Email address" />
        <app-form-input
          inputType="password"
          inputPlaceholder="Password"
          inputClass="top-group"
          label="Password"></app-form-input>
      </div>

      <div class="checkbox mb-3 text-center">
        <label style="user-select: none">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <div class="d-flex gap-3">
        <app-primary-button class="w-100" btnClass="w-100">Sign In</app-primary-button>
        <app-primary-button class="w-100" btnClass="w-100">Sign Up</app-primary-button>
      </div>
    </form>
  </div>
</div>
