<ng-template #image>
  <div class="position-relative image w-100" style="height: 250px">
    <img src="{{product.pictureUrl}}" alt="" class="card-img-top">
    <div class="hover-overlay" *ngIf="!disabled">
      <div class="btn-group d-flex align-items-center justify-content-center mx-4 h-100 gap-2">
        <app-primary-button
          appIncreaseProductsInBasket [product]="product"
          style="height: 40px; width: 50%"
          btnClass="right-group w-100 h-100">
          <app-shopping-card-icon></app-shopping-card-icon></app-primary-button>
        <app-primary-button
          style="height: 40px; width: 50%"
          btnClass="left-group w-100 h-100">View</app-primary-button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #body>
  <div class="d-flex flex-column">
    <div class="mb-2">
      <app-link>{{product.name}}</app-link>
    </div>
    <span class="mb-2 card-subtitle text-muted">{{product.price | currency}}</span>
    <p class="card-text">{{product.description}}</p>
  </div>
</ng-template>

<app-card [disabled]="disabled" class="d-inline-block h-100" style="width: 250px" [imageRef]="image" [bodyRef]="body"></app-card>
