@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/sandstone/bootstrap';

body {
  min-width: 320px;
}

ul {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

table {
  margin-bottom: 0;
}

hr {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: none;
}

.after-nav-bar{
  margin-top: 64px;
}

.btn {
  text-transform: none;
}

.left-group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-group {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.top-group {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.bottom-group {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input {
  box-shadow: none !important;
}

select{
  box-shadow: none !important;
  cursor: pointer !important;
}

.page-link {
  box-shadow: none !important;
}

.no-select {
  user-select: none;
}

.app-fa-icon {
  @extend .no-select;
  font-size: 1.3em;
}

.app-primary-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .fw-normal;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

app-nav-bar {
  @extend .fixed-top;
}

.app-primary-outline-button {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .fw-normal;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.white-mask {
  @extend .mask;
  background-color: hsla(0,0%,100%,0.5);
}
