/* You can add global styles to this file, and also import other style files */

body {
  min-width: 320px;
}

ul {
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

table {
  margin-bottom: 0 !important;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

.pointer {
  cursor: pointer;
}

.after-nav-bar{
  margin-top: 64px;
}

.btn {
  text-transform: none !important;
}

.left-group {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.right-group {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.top-group {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bottom-group {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

input {
  box-shadow: none !important;
}

select{
  box-shadow: none !important;
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
