.navbar, .nav-item, .nav-link, button {
  font-size: 1em;
}

.dropdown-item {
  padding: 15px;
  color: var(--bs-body-color);
  font-weight: var(--bs-body-font-weight);
  text-transform: none;
  font-size: 1em;
  cursor: pointer;
}
